<div class="jumbotron">
    <h1>PVAPI</h1>
    <p class="lead">PortoVisita API - Comunição com componentes PortoVisita</p>
    <p>@Html.ActionLink("API", "Index", "Help", new { area = "", @class = "btn btn-primary btn-lg" }, null)</p>
</div>
