<div class="jumbotron">
    <h1>BDAPI</h1>
    <p class="lead">BDAPI - Comunição com Base de dados</p>
    <p>@Html.ActionLink("API", "Index", "Help", new { area = "", @class = "btn btn-primary btn-lg" }, null)</p>
</div>
