@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("English","Change","Language",new { lang = "en" },null)</li>
    <li>@Html.ActionLink("Português", "Change", "Language", new { lang = "pt" }, null)</li>
</ul>
