<div class="jumbotron">
    <h1>ALGAVAPI</h1>
    <p class="lead">ALGAVAPI - Comunição com componente de ALGAV</p>
    <p>@Html.ActionLink("API", "Index", "Help", new { area = "", @class="btn btn-primary btn-lg" }, null)</p>
</div>
